*{
  padding: 0px;
  font-family: 'Trebuchet ms', Arial, sans-serif;
  color: #7e7e7e;
  list-style-type: none;
  size: 0.6em;
}

body{
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  background-color: #ffffff;
}

#no-navigation {
  background-color: #ffffff;
  margin-top: -20px;
}

h2 {
  border-bottom: 5px;
  border-width: 3px;
  border-color: #000000;
}

#content{
  margin-left: 3px;
  margin-right: 3px;
  background-color: #transparent;

}

#vertical_menu {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(0%,#cccccc), color-stop(10%,#eeeeee));  
  background: linear-gradient(to right, #cccccc 0%,#cccccc 0%,#eeeeee 10%); 
  background-repeat: repeat-y;
  border-top-right-radius: 15px;
}

#vertical_menu > h3 {
  padding-left: 10px;
  color: #ffffff;
}
#menu *:hover{
    background: inherit; 
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 5px;
    border-radius: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-size: 1.2em;
    padding-left: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

#footer {
   text-align: center;
   margin-left: -6px;
   margin-right: -5px;
}

.col-xs-12{
   background-image: -webkit-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
   background-image: linear-gradient(to bottom, #ffffff 0%, #d6d6d6 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
   border-radius: 0px;
   border-color: transparent;
}


.navbar-default {
   background-color: #E0E0E0;
}


.dropdown:hover {
  background-color:  #B8B8B8 ;
  color: black;
}

.dropdown-menu > li {
  border-bottom: 1px solid #6f6f6f;
  padding-left: 15px;
  border-color: #8d8d8d;
  padding: 5px;
}

.dropdown-menu > li:hover {
  background-color:  #C0C0C0 ;
  color: #ffffff;

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:  #B8B8B8 ;
}

.content_desc * {
  padding-bottom: 5px;
  padding-top: 10px;
  color: #385ca0;
}

.content_desc > p {
  color: #7e7e7e;
}

.content_desc *:hover{
    text-decoration: none;
}

#content > .row {
    display: table;
    margin-left: -1px;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#content_right {
  padding-left: 30px;
  margin-top: -40px;
}

.list > li{
  list-style-type: square;
  margin-left: 30px;
  vertical-align:top;
  color: #7e7e7e;
}

#sections {
  background-color: #d6d6d6;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin-left: -15px;
  margin-top: -20px;
  margin-right: -15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #000000;
  border-color: #000000;
}

#menu > li:hover {
  border-left: 20px;

}

#title {
  font-weight: 700;
  font-stretch: extra-expanded;
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 6px solid #e3e3e3;
}

#header {
  height: 80px;
  background-color: #E0E0E0;
}

#logo {
  padding: 20px;
  vertical-align: top;
  font-style: italic;
  font-weight: bold;
}

#logo > h1{
  position: relative;
  top: -40px;
  right: -70px;
  z-index: 1;
  font-size: 1.5em;
  color: #8f8f8f;
}

#header_bottom {
  height: 54px;
  background: -webkit-linear-gradient(left, #8eb92a 11%,#bfd255 51%,#8eb92a 91%); 
    background: linear-gradient(to right, #8eb92a 11%,#bfd255 51%,#8eb92a 91%);
}